public interface MergeableHeap
{
  public HeapType makeHeap()
  {

  }
  public void insert(HeapType heap, T x)
  {

  }
  public T minimum(HeapType heap)
  {

  }
  public T extractMin(HeapType heap)
  {

  }
  public HeapType union(HeapType heap)
  {

  }
  public void decreaseKey(HeapType heap, T x, K key)
  {

  }
  public void delete(HeapType heap)
  {

  }
}